{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block title %}
    {% trans "Verify Your Email Address - BandTogether" %}
{% endblock title %}
{% block content %}
<div class="container my-5 col-lg-4 col-11 border border-1 p-5 rounded">
    {% element h1 %}
        {% trans "Verify Your Email Address" %}
    {% endelement %}
    {% element p %}
        {% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. <hr> <small class="text-secondary">If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.</small>{% endblocktrans %}
    {% endelement %}
</div>
{% endblock content %}
