{% extends "_base.html" %}
{% load static %}
{% block title %}Connect and Create Music{% endblock title %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/pages/home.css' %}">
{% endblock additional_css %}

{% block content %}

<!-- Hero -->
<div class="hero-background pt-5 h-75 pt-md-1 pb-5 z-0">
    <section class="hero pt-2 pt-md-5 g-5 container">
        <div class="row">
            <div class="col-md-6 row hero-image text-center order-md-2">
                <div class="col-6 hero-image-1">
                    <img class="rounded col-xxl-12 img-fluid shadow position-relative"
                        src="{% static 'images/pages/home/LandingPage1.jpg' %}" alt="Girl playing violin">
                </div>
                <div class="col-6 hero-image-2">
                    <img class="rounded col-xxl-12 img-fluid shadow position-relative"
                        src="{% static 'images/pages/home/LandingPage2.jpg' %}" alt="Man playing drums.">
                </div>
            </div>
            <div class="col-md-6 hero-text d-flex align-items-center order-md-1 mt-4">
                <div>
                    <h1 class="display-1 fw-bold lh-1">Connect.</br>Create Music.</h1>
                    <h2 class="text-light-emphasis h4 lh-1">
                        BandTogether is the place to network with local hobbyist musicians
                        for free!
                    </h2>
                    <a href="{% url 'account_signup' %}" class="btn btn-primary mt-3">Sign Up!</a>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- How To -->
<section class="container mt-3 py-5 h-50 how-to">
    <div class="container">
        <div class="row d-flex justify-content-around mb-3 order-md-2 mb-5 hidden">
            <div class="col-md-5 order-md-1 mb-3">
                <img class="rounded img-fluid how-to-image shadow"
                    src="{% static 'images/pages/home/Step1SignUp.gif' %}" alt="Signing Up GIF image">
            </div>
            <div class="col-md-5 row d-flex flex-column justify-content-center">
                <h3 class="col-12">Showcase Your Musical Profile</h3>
                <p class="col-12 text-secondary">
                    Create a free profile and display your best music portfolio to attract collaborators! 
                    Share your best music videos, and link to your social accounts all in one place.
                </p>
            </div>
        </div>
        <div class="row d-flex justify-content-around mb-5 hidden">
            <div class="col-md-5 mb-3">
                <img class="rounded img-fluid how-to-image shadow"
                    src="{% static 'images/pages/home/Step2CreateProfile.gif' %}" alt="Create Profile GIF image">
            </div>
            <div class="col-md-5 row d-flex flex-column justify-content-center">
                <h3 class="col-12">Network with Musicians and Bands</h3>
                <p class="col-12 text-secondary">
                    Meet online with other musicians and bands! Browse through our list of profiles and connect with them through messaging.
                </p>
            </div>
        </div>
        <div class="row d-flex justify-content-around mb-5 order-md-2 hidden">
            <div class="col-md-5 order-md-1 mb-3">
                <img class="rounded img-fluid how-to-image shadow"
                    src="{% static 'images/pages/home/Step3Connect.gif' %}" alt="Connect with musicians GIF image">
            </div>
            <div class="col-md-5 row d-flex flex-column justify-content-center">
                <h3 class="col-12">Create and Browse Ads</h3>
                <p class="col-12 text-secondary">
                    Post your own or browse other ads to find band members or join projects! 
                    Connect with like-minded musicians and start collaborating today!
                </p>
            </div>
        </div>
        <div class="row d-flex justify-content-around mb-5 hidden">
            <div class="col-md-5 mb-3">
                <img class="rounded img-fluid how-to-image shadow"
                    src="{% static 'images/pages/home/Step4OpenMic.gif' %}" alt="Join Open Mic GIF image">
            </div>
            <div class="col-md-5 row d-flex flex-column justify-content-center">
                <h3 class="col-12">Meet Offline at Nearby Open Mics</h3>
                <p class="col-12 text-secondary">
                    Connect with fellow musicians at local open mic events. 
                    Discover and join open mics in your area from our curated list!
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<div class="container-fluid bg-body-tertiary py-5">
    <section class="container h-50 call-to-action text-center py-5 hidden">
        <h2 class="fw-medium">Ready to BandTogether?</h2>
        <p class="text-secondary fw-light">Join our community by signing up for free!</p>
        <a class="btn btn-primary" href="{% url 'account_signup' %}">Sign Up!</a>
    </section>
</div>

{% endblock content %}

{% block additional_js %}
<script src="{% static 'js/pages/home/home.js' %}"></script>
{% endblock %}