.fill {
    background-size: cover;
    object-fit: cover;
    background-position: center;
    width: 100%;
    min-height: 25vh;
}

.profile-picture img {
    height: max(12vw, 150px);
    width: max(12vw, 150px);
    border: 5px solid white;
    object-fit: cover;
}

.profile-picture {
    margin-top: -100px;
}

.profile-display-name {
    max-width: 25ch;
}