<!-- Footer -->
<footer class="bg-dark d-flex justify-content-center text-white pt-3">
    <section class="container py-5 row col justify-content-between">
        <div class="col-12 col-lg-3 d-flex flex-column justify-content-between">
            <h5>BandTogether</h5>
            <div class="mt-4 text-white">
                <p class="mb-0 mt-4">&copy2024 BandTogether</p>
                <p>Made in Glasgow, UK</p>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-lg-0 mt-5">
            <nav class="col row">
                <div class="col d-flex flex-column">
                    <h5 class="text-decoration-underline">User Links</h5>
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item mb-2"><a href="{% url 'profiles:profile_list' %}" class="nav-link p-0">Profiles</a></li>
                        <li class="nav-item mb-2"><a href="{% url 'advertisements:advertisement_list' %}" class="nav-link p-0">Browse Ads</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Open Mics</a></li>
                    </ul>
                </div>
                <div class="col d-flex flex-column">
                    <h5 class="text-decoration-underline">Support Links</h5>
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item mb-2"><a href="{% url 'pages:about' %}" class="nav-link p-0">About</a></li>
                        <li class="nav-item mb-2"><a href="{% url 'pages:feedback' %}" class="nav-link p-0">Feedback</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
</footer>