{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- BandTogether Logo -->
        <a class="navbar-brand" href="{% url 'pages:home' %}">
            <img src="{% static 'images/BandTogetherLogo.svg' %}" alt="BandTogether Logo" class="logo">
            BandTogether
        </a>

        <!-- Navbar items -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a {% if "/profiles/" in request.path %} class="nav-link active" {% else %} class="nav-link" {% endif %} 
                    href="{% url 'profiles:profile_list' %}">Profiles</a>
                </li>
                <li class="nav-item">
                    <a {% if "/ads/" in request.path %} class="nav-link active" {% else %} class="nav-link" {% endif %} 
                    href="#">Browse Ads</a>
                </li>
                <li class="nav-item">
                    <a {% if "/open-mic/" in request.path %} class="nav-link active" {% else %} class="nav-link" {% endif %} 
                    href="#">Open Mics</a>
                </li>
            </ul>

            <!-- Profile picture dropdown -->
            <ul class="navbar-nav profile-dropdown" id="navbarTogglerDemo01">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown btn-group">
                    <a class="dropdown-toggle" type="button" role="button" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {% if user.profile.profile_picture %}
                        <img src="{{ user.profile.profile_picture.url }}"
                            width="40" height="40" class="rounded-circle">
                        {% else %}
                        <img src="{% static 'images/profile_pic_default.jpg' %}"
                            width="40" height="40" class="rounded-circle">
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdownMenuLink">
                        {% if user.profile %}
                        <a class="dropdown-item" href="{% url 'profiles:profile_detail' user.profile.slug %}">My Profile</a>
                        <a class="dropdown-item" href="#">Messages</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'profiles:profile_new' %}">Create Profile</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item me-2">
                    <a class="btn btn-outline-secondary login-navbar" aria-current="page"
                        href="{% url 'account_login' %}">Sign In</a>
                </li>
                <li class="nav-item mt-lg-0 mt-2">
                    <a class="btn btn-primary signup-navbar" href="{% url 'account_signup' %}">Join BandTogether</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>