{% load bookmark_filters %}

<div id="bookmark-button-{{ object.id }}" class="bookmark-button d-inline-block">
    {% if is_bookmarked %}
        <form method="post" hx-post="{% url 'bookmarks:bookmark_delete_detail' bookmark.id %}" hx-target="#bookmark-button-{{ object.id }}" hx-swap="outerHTML">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary w-100">Bookmarked</button>
        </form>
    {% else %}
        <form method="post" hx-post="{% url 'bookmarks:bookmark_create_detail' object|app_label object|model_name object.id %}" hx-target="#bookmark-button-{{ object.id }}" hx-swap="outerHTML">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary w-100">Bookmark</button>
        </form>
    {% endif %}
</div>
