{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load partials %}
{% block title %}Bookmark Profiles - BandTogether{% endblock title %}

{% block additional_css %}
<link rel="stylesheet" href="{% static './css/profiles/profile_list.css' %}">
{% endblock additional_css %}

{% block content %}
<div class="container my-5">
    <h1 class="fw-bold">Bookmarks</h1>
    <h2 class="fw-normal h4 text-secondary">Manage your bookmarked items here!</h2>
    <hr />
    <div class="d-flex justify-content-start align-items-center">
        <p class="text-secondary fs-5 mb-0">
            ({{ profiles_count }} profiles)
        </p>
    </div>

    <section class="profile-list mt-3 d-flex flex-wrap justify-content-evenly row-cols-sm-6 row-cols-2 gx-2">
        {% if profiles %}
            {% include 'profiles/profile_list_partial.html' %}
        {% else %}
            <p class="text-secondary text-center">You don't have any bookmarked profiles!</p>
        {% endif %}
    </section>
</div>
{% endblock content %}