{% extends "bookmarks/_bookmark_list_base.html" %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/openmics/openmic_list.css' %}">
{% endblock additional_css %}

{% block bookmark_list %}
<div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start align-items-center">
        <p class="text-secondary fs-5 mb-0">
            ({{ openmics_count }} open mics)
        </p>
    </div>
</div>

    <section class="openmic-list mt-3">
        {% if openmics %}
            {% include 'bookmarks/bookmark_openmic_list_partial.html' %}
        {% else %}
            <p class="text-secondary text-center">You don't have any bookmarked open mics yet!</p>
        {% endif %}
    </section>
{% endblock bookmark_list %}