{% load static %}
{% load partials %}

{% partialdef advertisements_list inline=True %}
    {% for ad in ads %}
        <div class="ad-container card d-flex mb-3">
            <div class="row card-body">
                <div class="col-xl-10 col-12 d-flex flex-column">
                    <div class="flex-grow-1 mb-2">
                        <a href="{% url 'advertisements:advertisement_detail' ad.pk %}"
                            class="text-reset text-decoration-none">
                            <h5 class="card-title ad-link fw-bold custom-truncate-title">
                                {{ ad.title }}
                            </h5>
                            <p class="card-text text-secondary custom-truncate-body">{{ ad.description }}</p>
                        </a>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">
                            <small class="text-body-secondary">
                                {{ ad.location }}
                            </small>
                        </p>
                        <p class="card-text">
                            <small class="text-body-secondary">
                                Updated {{ ad.last_updated|timesince }} ago
                            </small>
                        </p>
                    </div>
                </div>
                <div
                    class="col-xl-2 col-12 d-flex flex-xl-column flex-row justify-content-xl-start text-xl-center text-start">
                    {% if user.profile == ad.author %}
                    <div class="mb-1 col-xl-12 col-lg-2 col-md-3 col-sm-4 col-5 me-xl-0 me-1">
                        <a href="{% url 'advertisements:advertisement_edit' ad.pk %}"
                            class="btn btn-secondary w-100">Edit Ad</a>
                    </div>
                    {% else %}
                        {% if user.is_authenticated and user.profile %}
                            <div class="mb-1 col-xl-12 col-lg-2 col-md-3 col-sm-4 col-5 me-xl-0 me-1">
                                {% include 'bookmarks/bookmark_button_list.html' with object=ad %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endpartialdef %}