/* Hero */
.hero-image-1 img,
.hero-image-2 img {
    min-height: 320px;
    object-fit: cover;
    position: relative;
}

.hero-image-2 img {
    right: 50px;
    top: 20px;
}

.hero-image-1 img {
    left: 10px;
    bottom: 10px;
}

.hero-background {
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 44%, rgba(119, 119, 119, 1) 100%);
}

/* How-To Images */
img.how-to-image {
    object-fit: cover;
}

/* Benefits */
img.benefits-image {
    width: 32px;
}

footer {
    width: 100%;
}