{% load static %}
{% load crispy_forms_tags %}

<div class="mb-2">
    <span class="fw-bold mb-3">To:</span>
    <div class="d-flex mt-2 mb-4">
        <div class="profile-picture-chat-list">
            <img class="rounded-circle object-fit-cover"
                src="{% if recipient.profile_picture %}  {{ recipient.profile_picture.url }} {% else %} {% static './images/profile_pic_default.jpg' %} {% endif %}"
                alt="user img" width="40" height="40">
        </div>
        <div class="flex-grow-1 ms-3">
            <h3 class="custom-truncate-conversation-list h5 mb-0">
                {{ recipient.display_name }}
            </h3>
            <p class="text-secondary">{{ recipient.profile_type }}, {{ recipient.location.country }}</p>
        </div>
    </div>
</div>

<div>
    <form method='POST' action="{% url 'inbox:inbox_createmessage' recipient.slug %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary mt-1">Submit message</button>
        <button type="button" class="btn btn-secondary mt-1" id="cancel-button">Cancel</button>
    </form>
</div>