{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Inbox - BandTogether{% endblock title %}

{% block additional_css %}
<link rel="stylesheet" href="{% static './css/inbox/inbox.css' %}">
{% endblock additional_css %}

{% block content %}
<div class="container col-lg-10 col-12">
    <section class="message-area my-5 shadow">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="chat-area">
                        <!-- chatlist -->
                        <div class="chatlist">
                            <div class="modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div
                                        class="chat-header col-12 mb-4 d-flex justify-content-center align-items-center">
                                        <div class="msg-search">
                                            <input type="text" class="form-control" id="inlineFormInputGroup"
                                                placeholder="Search..." aria-label="search">

                                            <button class="btn btn-primary ms-2" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal"><a class="add" href="#"><img
                                                        class="img-fluid"
                                                        src="{% static './images/pencil-square.svg' %}"
                                                        alt="add"></a></button>
                                        </div>
                                    </div>

                                    <div class="modal-body">
                                        <!-- chat-list -->
                                        {% include 'inbox/inbox_conversation_list.html' %}
                                        <!-- chat-list -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- chatlist -->



                        <!-- chatbox -->
                        <div class="chatbox {% if conversation %}showbox{% endif %}">
                            <div class="modal-dialog-scrollable">

                                {% include 'inbox/inbox_conversation.html' %}

                            </div>
                        </div>
                    </div>
                    <!-- chatbox -->


                </div>
            </div>
        </div>
</div>
</section>
<!-- char-area -->
</div>

<!-- Search Profile Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content h-75">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New Message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <span class="fw-bold">To:</span>
                    <input type="text" name="search_profile" placeholder="Search a profile here..." maxlength="150"
                        class="textinput form-control" required="" id="id_search"
                        hx-get="{% url 'inbox:inbox_searchprofiles' %}" hx-trigger="keyup changed"
                        hx-target="#search-results" hx-swap="innerHTML">
                </div>
                <div id="search-results" class="d-block h-60 overflow-y-auto">
                    {% include 'inbox/searchprofiles_list.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}