{% load static %}

{% for profile in profiles %}
<a class="d-flex align-items-center text-reset text-decoration-none mb-3 cursor"
    hx-get="{% url 'inbox:inbox_createmessage' profile.slug %}"
    hx-target="#new-message"
    hx-swap="innerHTTML" >
    <div class="profile-picture-chat-list">
        <img class="rounded-circle object-fit-cover" src="{% if profile.profile_picture %}  {{ profile.profile_picture.url }} {% else %} {% static './images/profile_pic_default.jpg' %} {% endif %}"
            alt="user img" width="40" height="40">
    </div>
    <div class="flex-grow-1 ms-3">
        <h3 class="custom-truncate-conversation-list">
            {{ profile.display_name}}
        </h3>
        <small class="text-secondary">{{ profile.profile_type }}, {{ profile.location.country }}</small>
    </div>
</a>
{% endfor %}

