<div id="new-message">
    <div class="mb-2">
        <span class="fw-bold">To:</span>
        <input type="text" name="search_profile" placeholder="Search a profile here..." maxlength="150"
            class="textinput form-control" required="" id="id_search"
            hx-get="{% url 'inbox:inbox_searchprofiles' %}" hx-trigger="keyup changed delay:500ms"
            hx-target="#search-results" hx-swap="innerHTML">
    </div>
    <div id="search-results" class="d-block h-60 overflow-y-auto"></div>
</div>