{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Ad Edit - BandTogether{% endblock title %}

{% block content %}
<div class="container my-5 col-sm-10 col-md-8 col-12 border border-1 p-5 rounded shadow">
    <h1 class="fw-bold">Edit Your Ad!</h1>
    <legend class="mb-4 text-muted fs-4 fw-normal border-bottom">Update your ad here!</legend>
    <form id="edit-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
    </form>

</div>
{% endblock content %}