{% load static %}
{% load partials %}

{% partialdef advertisements_list inline=True %}
    {% for ad in ads %}
        {% if forloop.last and ads.has_next %}
        <div class="ad-container card d-flex mb-3"
        hx-get="{% url 'advertisements:get_advertisements' %}?page={{ ads.next_page_number }}{% if profile.slug %}&profile_slug={{ profile.slug }}{% endif %}"
        hx-trigger="revealed"
        hx-swap="afterend"
        hx-include="#filter-form"
        hx-indicator="#spinner">
        {% else %}  
        <div class="ad-container card d-flex mb-3">
        {% endif %}
                <div class="row card-body">
                    <div class="col-xl-10 col-12 d-flex flex-column">
                        <div class="flex-grow-1 mb-2">
                            <a href="{% url 'advertisements:advertisement_detail' ad.pk %}"
                                class="text-reset text-decoration-none">
                                <h5 class="card-title title-link fw-bold custom-truncate-title">
                                    {{ ad.title }}
                                </h5>
                                <p class="card-text text-secondary custom-truncate-body">{{ ad.description }}</p>
                            </a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">
                                <small class="text-body-secondary">
                                    {{ ad.location }}
                                </small>
                            </p>
                            <p class="card-text">
                                <small class="text-body-secondary">
                                    Updated {{ ad.last_updated|timesince }} ago
                                </small>
                            </p>
                        </div>
                    </div>
                    <div
                        class="col-xl-2 col-12 d-flex flex-xl-column flex-row justify-content-xl-start text-center">
                        {% if user.profile == ad.author %}
                        <div class="mb-1">
                            <a href="{% url 'advertisements:advertisement_edit' ad.pk %}"
                                class="btn btn-outline-primary w-100">Edit Ad</a>
                        </div>
                        {% else %}
                            {% if user.is_authenticated and user.profile %}
                            <div class="mb-1">
                                {% include 'bookmarks/bookmark_button_list.html' with object=ad %}
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
    {% endfor %}
{% endpartialdef %}

<!-- Loading Spinner -->
<div id="spinner" class="w-100 htmx-indicator text-center" >
    <span class="spinner-border text-secondary" role="status"></span>
</div>