{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Open Mic List - BandTogether{% endblock title %}

{% block additional_css %}
<link rel="stylesheet" href="{% static './css/openmics/openmic_list.css' %}">
{% endblock additional_css %}

{% block content %}
<div class="container p-5 dl">
    <h1 class="fw-bold">Open Mics List</h1>
    <h2 class="fw-normal h4 text-secondary">Discover the latest Open Mic events in your area!</h2>
    <hr />
    <div class="d-flex justify-content-between">
    <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasAdvertisementFilter" role="button"
        aria-controls="offcanvasAdvertisementFilter">
        Show filters
    </a>
</div>


    <section class="ad-list mt-3">
        {% if openmics %}
            {% include 'openmics/openmic_list_partial.html' %}
        {% else %}
        <p class=" text-danger">No open mics meet your criteria. Try some other criteria in the filters!</p>
        {% endif %}
    </section>
</div>
{% endblock content %}