{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Open Mic List - BandTogether{% endblock title %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/openmics/openmic_list.css' %}">
{% endblock additional_css %}

{% block content %}
<div class="container my-5">
    <h1 class="fw-bold">Open Mics List</h1>
    <h2 class="fw-normal h4 text-secondary">Discover the latest Open Mic events in your area!</h2>
    <hr />
    <div class="d-flex justify-content-start align-items-center mb-2">
        <a class="btn btn-primary me-2" data-bs-toggle="collapse" href="#collapseOpenMicFilter" role="button" aria-expanded="false" aria-controls="collapseOpenMicFilter">
            Show Filters
        </a>
        <p class="text-secondary fs-5 mb-0">
            ({{ openmics_count }} open mics)
        </p>
    </div>

    <!-- Offcanvas for OpenMic Filters -->
    <div class="collapse" id="collapseOpenMicFilter">
        <div class="card card-body">
            <h4>Open Mic Filters</h4>
            <form method="get" action="{% url 'openmics:openmic_list' %}" id="filter-form">
                {{ form.title|as_crispy_field }}
                {{ form.location|as_crispy_field }}

                <div class="form-group col-md-4 col-12 mb-2">
                    {{ form.genres.label_tag }}
                    <div class="d-flex flex-wrap row-cols-2">
                        {% for checkbox in form.genres %}
                        <div class="form-check d-flex gx-2">
                            {{ checkbox.tag }}
                            <div class="ms-1">
                                {{ checkbox.choice_label }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <label for="id_order_by" class="form-label">
                    Advanced Filters:
                </label>
                {{ form.free|as_crispy_field }}

                <button type="submit" class="btn btn-primary">Filter</button>
                {% if has_filter %}
                <a href="{% url 'openmics:openmic_list' %}" class="btn btn-secondary ms-1">Clear all
                    filters</a>
                {% endif %}
            </form>
        </div>
    </div>


    <section class="ad-list mt-3">
        {% if openmics %}
            {% include 'openmics/openmic_list_partial.html' %}
        {% else %}
        <p class="text-secondary">No open mics meet your criteria. Try some other criteria in the filters!</p>
        {% endif %}
    </section>
</div>
{% endblock content %}