{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Profiles - BandTogether{% endblock title %}

{% block additional_css %}
<link rel="stylesheet" href="{% static './css/profiles/profile_list.css' %}">
{% endblock additional_css %}

{% block content %}
<div class="container-fluid p-5 dl">
    <h1 class="fw-bold">Profiles List</h1>
    <h2 class="fw-normal h4 text-secondary">Discover other musicians and bands!</h2>
    <hr />
    <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasProfileFilter" role="button"
        aria-controls="offcanvasProfileFilter">
        Show filters
    </a>

    <!-- Offcanvas for Profile Filters -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasProfileFilter"
        aria-labelledby="offcanvasProfileFilterLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasProfileFilterLabel">Profile Filters</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form method="get" action="{% url 'profiles:profile_list' %}" id="filter-form">
                {{ form.display_name|as_crispy_field }}
                {{ form.profile_type|as_crispy_field }}
                {{ form.location|as_crispy_field }}

                <div class="form-group mb-2">
                    {{ form.genres.label_tag }}
                    <div class="d-flex flex-wrap row-cols-md-3 row-cols-2">
                        {% for checkbox in form.genres %}
                        <div class="form-check d-flex gx-2">
                            {{ checkbox.tag }}
                            <div class="ms-1">
                                {{ checkbox.choice_label }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group mb-2">
                    {{ form.skills.label_tag }}
                    <div class="d-flex flex-wrap row-cols-md-3 row-cols-2">
                        {% for checkbox in form.skills %}
                        <div class="form-check d-flex gx-2">
                            {{ checkbox.tag }}
                            <div class="ms-1">
                                {{ checkbox.choice_label }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <label for="id_order_by" class="form-label">
                    Advanced Filters
                </label>
                {{ form.has_youtube_video|as_crispy_field }}
                {{ form.has_profile_picture|as_crispy_field }}
                {{ form.order_by|as_crispy_field }}

                <button type="submit" class="btn btn-primary">Filter</button>
                {% if has_filter %}
                <a href="{% url 'profiles:profile_list' %}" class="btn btn-secondary ms-1">Clear all filters</a>
                {% endif %}
            </form>
        </div>
    </div>

    <!-- <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Slug
            </th>
            <th>
                Email
            </th>
            <th>
                Profile type
            </th>
            <th>
                Age
            </th>
            <th>
                Location
            </th>
            <th>
                Genres
            </th>
            <th>
                Skills
            </th>
            <th>
                Created Date
            </th>
            <th>
                Last Login Date
            </th>
        </tr>
        {% for profile in profiles %}
        <tr>
            <td>
                {{ profile.display_name }}
            </td>
            <td>
                {{ profile.slug }}
            </td>
            <td>
                {{ profile.user.email }}
            </td>
            <td>
                {{ profile.profile_type }}
            </td>
            <td>
                {% if profile.birthday %}
                {{ profile.age }}
                {% else %}
                Not available
                {% endif %}
            </td>
            <td>
                {{ profile.location }}
            </td>
            <td>
                {% for genre in profile.genres.all %}
                {{ genre }},
                {% endfor %}
            </td>
            <td>
                {% for skill in profile.skills.all %}
                {{ skill }},
                {% endfor %}
            </td>
            <td>
                {{ profile.created }}
            </td>
            <td>
                {{ profile.user.last_login }}
            </td>
        </tr>
        {% endfor %}
    </table> -->

    <section class="profile-list mt-3 d-flex flex-wrap row-cols-lg-6 row-cols-sm-2">
        {% if profiles %}
            {% for profile in profiles %}
            <div class="profile-container d-flex flex-column col text-center">
                <a href="{% url 'profiles:profile_detail' profile.slug %}" class="text-decoration-none text-reset link">
                    <div>
                        {% if profile.profile_picture %}
                        <img src="{{ profile.profile_picture.url }}" alt="profile-picture"
                            class="profile-picture rounded-circle img-fluid">
                        {% else %}
                        <img src="{% static 'images/profile_pic_default.jpg' %}" alt="profile-picture"
                            class="profile-picture rounded-circle img-fluid">
                        {% endif %}
                    </div>
                    <p>
                        {{ profile.display_name }}
                    </p>
                </a>
            </div>
            {% endfor %}
        {% else %}
        <p class="text-danger">No profiles meet your criteria. Try some other criteria in the filters!</p>
        {% endif %}
    </section>
</div>
{% endblock content %}