{% extends "profiles/_profile_detail_base.html" %}
{% load static %}
{% block profile_detail_content %}
<section class="classifieds-list mt-3">
    {% if user.is_authenticated and user.profile == profile %}
            <a class="btn btn-primary mb-2" href="{% url 'advertisements:advertisement_new'%}" role="button">
                <img src="{% static 'images/advertisements/advertisement_list/plus-circle.svg' %}" /> Create Ad
            </a>
    {% endif %}
    {% if ads %}
        {% include 'advertisements/advertisement_list_partial.html' %}
    {% else %}
    <p>No ads available yet!</p>
    {% endif %}
</section>
{% endblock profile_detail_content %}