{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Profile Create - BandTogether{% endblock title %}

{% block additional_css %}
<link rel="stylesheet" href="{% static './css/profiles/location_autocomplete_form.css' %}">
{% endblock additional_css %}

{% block content %}
<div class="container my-5 col-sm-10 col-md-8 col-12 border border-1 p-5 rounded shadow">
    <h1 class="fw-bold">Create Profile</h1>
    <legend class="mb-4 text-muted fs-4 fw-normal border-bottom">Now for the fun part, let's get to know you!</legend>
    {% crispy form %}
</div>
{% endblock content %}