{% load static %}
{% load partials %}

{% partialdef profiles_list inline=True %}
    {% for profile in profiles %}    
        {% if forloop.last and profiles.has_next %}
        <div class="profile-container d-flex flex-column col-sm-1 text-center mb-2"
            hx-get="{% url 'profiles:get_profiles' %}?page={{ profiles.next_page_number }}"
            hx-trigger="revealed"
            hx-swap="afterend"
            hx-include="#filter-form"
            hx-indicator="#spinner"
            >
        {% else %}  
        <div class="profile-container d-flex flex-column col-sm-1 text-center mb-2">
        {% endif %}
            <a href="{% url 'profiles:profile_detail' profile.slug %}" class="text-decoration-none text-reset link">
                <div>
                    {% if profile.profile_picture %}
                    <img src="{{ profile.profile_picture.url }}" alt="profile-picture"
                        class="profile-picture rounded-circle img-fluid" width="150" height="150">
                    {% else %}
                    <img src="{% static 'images/profiles/profile_pic_default.jpg' %}" alt="profile-picture"
                        class="profile-picture rounded-circle img-fluid" width="150" height="150">
                    {% endif %}
                </div>
                <p class="display-name custom-truncate mb-0">
                    {{ profile.display_name }}
                </p>
                <p class="mb-0">
                    <small class="type-country custom-truncate text-secondary">
                    {{ profile.profile_type }}, {{ profile.location.country }}
                    </small>    
                </p>
            </a>
        </div>
    {% endfor %}
{% endpartialdef %}


<!-- Loading Spinner -->
<div id="spinner" class="w-100 htmx-indicator text-center" >
    <span class="spinner-border text-secondary" role="status"></span>
</div>