{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load partials %}
{% block title %}Profiles - BandTogether{% endblock title %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/profiles/profile_list.css' %}">
{% endblock additional_css %}

{% block content %}
<div class="container my-5">
    <h1 class="fw-bold">Profiles List</h1>
    <h2 class="fw-normal h4 text-secondary">Discover other musicians and bands!</h2>
    <hr />
    <div class="d-flex justify-content-start align-items-center mb-2">
        <a class="btn btn-primary me-2" data-bs-toggle="collapse" href="#collapseProfileFilter" role="button" aria-expanded="false" aria-controls="collapseProfileFilter">
            <img src="{% static 'images/filter/filter.svg' %}" /> Show Filters
          </a>
        <p class="text-secondary fs-5 mb-0">
            ({{ profiles_count }} profiles)
        </p>
    </div>

    <!-- Offcanvas for Profile Filters -->
    <div class="collapse" id="collapseProfileFilter">
        <div class="card card-body">
            <h4>Profile Filters</h4>
            <form method="get" action="{% url 'profiles:profile_list' %}" id="filter-form">
                {{ form.display_name|as_crispy_field }}
                {{ form.profile_type|as_crispy_field }}
                {{ form.location|as_crispy_field }}

                <div class="form-group col-md-4 col-12 mb-2">
                    {{ form.genres.label_tag }}
                    <div class="d-flex flex-wrap row-cols-2">
                        {% for checkbox in form.genres %}
                        <div class="form-check d-flex gx-2">
                            {{ checkbox.tag }}
                            <div class="ms-1">
                                {{ checkbox.choice_label }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group col-md-4 col-12 mb-2">
                    {{ form.skills.label_tag }}
                    <div class="d-flex flex-wrap row-cols-2">
                        {% for checkbox in form.skills %}
                        <div class="form-check d-flex gx-2">
                            {{ checkbox.tag }}
                            <div class="ms-1">
                                {{ checkbox.choice_label }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <label for="id_order_by" class="form-label">
                    Advanced Filters:
                </label>
                {{ form.has_youtube_video|as_crispy_field }}
                {{ form.has_profile_picture|as_crispy_field }}

                {{ form.last_login_range|as_crispy_field }}
                
                {{ form.order_by|as_crispy_field }}

                <button type="submit" class="btn btn-primary">Filter</button>
                {% if has_filter %}
                <a href="{% url 'profiles:profile_list' %}" class="btn btn-secondary ms-1">Clear all filters</a>
                {% endif %}
            </form>
        </div>
    </div>

    <section class="profile-list mt-3 d-flex flex-wrap justify-content-evenly row-cols-sm-6 row-cols-2 gx-2">
        {% if profiles %}
            {% include 'profiles/profile_list_partial.html' %}
        {% else %}
            <p class="text-secondary">No profiles meet your criteria. Try some other criteria in the filters!</p>
        {% endif %}
    </section>
</div>
{% endblock content %}