.title-link:hover {
    text-decoration: underline !important;
}

.openmic-card {
    transition: transform .2s;
    /* Animation */
}

.openmic-card:hover {
    transform: scale(1.02);
}

.custom-truncate-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.custom-truncate-body {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}